h1{

   color: red;
   text-align: center;
   border-color: blue;
   border-style: solid;

}


p
{





}

div
{
   background-color: black;
   color: white;
   width: 500px;
   height: 100px;
   margin: 40px;
 padding: 50px;


}
table,th,td
{
	border: 1px black solid;

}